# gitignore for InitialB.


### IDEs
/.idea/*

### dependencies
/node_modules/*

### for personal use
/commands/insideMemes.js
/commands/debug.js
/commands/ohoho.js
/commands/testC.js
/notes/*

### data storage files
/backups/*
/files/botStorage.json
/files/botTokens.json
/files/musicShareDb.json
/files/scheduleDb.json
/files/googleApi.json
